<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Usage:
  roslaunch cameras viso2_stereo_odometer.launch -->

  <!-- Logger config -->
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find cameras)/config/cameras.config"/>

  <!-- Run stereo odometer. -->
  <node name="stereo_odometer" pkg="viso2_ros" type="stereo_odometer" output="screen">
    <remap from="stereo" to="stereo"/>
    <remap from="image" to="image_rect"/>
<!--
    <param name="odom_frame_id" value="stereo_odom"/>
-->
    <param name="base_link_frame_id" value="base_footprint"/>
    <param name="sensor_frame_id" value="stereo_optical"/>
  </node>
</launch>

