<div class="button-wrapper">

  <button pButton 
          class="circle-button ui-button-success"
          type="button"
          [hidden]="true"
          (click)="onCircleClick($event)" 
          label="圆型">
  </button>

  <button pButton 
          class="reset-button ui-button-success"
          type="button"
          [hidden]="true"
          (click)="onResetClick($event)" 
          label="重置">
  </button>
</div>

<div class="steering-wrapper">
  <p-inputSwitch [(ngModel)]="isKey"
                 onLabel="key"
                 offLabel="drag"
                 [style]="{width: '80px'}"></p-inputSwitch>
  <steering-wheel #steeringWheel *ngIf="isKey"></steering-wheel>
  <steering-drag #steeringDrag *ngIf="!isKey"></steering-drag>
</div>