.button-wrapper {
  position: absolute;
  
  .circle-button {
    position: absolute;
    width: 60px;
    top: -50px;
    left: 100px;
  }

  .reset-button {
    position: absolute;
    width: 60px;
    top: -50px;
    left: 170px;
  }
}

.steering-wrapper {
  width: 100%;
  height: 92%;
  position: relative;

  p-inputSwitch {
    position: absolute;
    top: -50px;
    left: 235px;
  }
}