<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
  <!-- open vo? -->
  <arg name="vo" default="false"/>
  
  <!-- jy901 IMU 从tcp server 获取jy901数据并发布imu主题-->
  <include file="$(find jy901)/launch/jy901.launch">
    
  </include>
  
  <!-- wheel_odom 从tcp server 获取count数据并发布wheel_odom主题-->
  <include file="$(find wheel_odom)/launch/wheel_odom.launch">

  </include>

  <!-- VO -->
  <group if="$(arg vo)">
    <include file="$(find cameras)/launch/camera_stereo.launch">
      <arg name="vo" value="true"/>
      
      
    </include>
  </group>

  <node pkg="robot_pose_ekf"
        type="robot_pose_ekf"
        name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    
    <remap from="odom" to="wheel_odom"/>
    <remap from="imu_data" to="imu"/>
    <remap from="vo" to="stereo_odometer/odometry"/>
  </node>

  <!-- 监听计算信息并传递信息给tcp server的node -->
  <node pkg="betagun"
        type="ekf_odom_capture.py"
        name="ekf_odom_capture"
        args="robot_pose_ekf">

  </node>
  
  <node pkg="betagun"
        type="wheel_odom_capture.py"
        name="wheel_odom_capture">
  
  </node>

  <node if="$(arg vo)"
        pkg="betagun"
        type="vo_capture.py"
        name="vo_capture">
        
  </node>
  
</launch>

