<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
  <!-- open vo? -->
  <arg name="vo" default="false"/>
  
  <!-- jy901 IMU 从tcp server 获取jy901数据并发布imu主题-->
  <include file="$(find jy901)/launch/jy901.launch">

  </include>
  
  <!-- wheel_odom 从tcp server 获取count数据并发布wheel_odom主题-->
  <include file="$(find wheel_odom)/launch/wheel_odom.launch">

  </include>

  <!-- VO -->
  <group if="$(arg vo)">
    <include file="$(find cameras)/launch/camera_stereo.launch">
      <arg name="vo" value="true"/>
    </include>
  </group>

  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_se"
        clear_params="true">
    <rosparam command="load"
              file="$(find betagun)/params/odom_ekf.yaml"/>

  </node>

  <!-- 监听计算信息并传递信息给tcp server的node -->
  <node pkg="betagun"
        type="info_capture.py"
        name="info_capture"
        args="robot_localization">
  
  </node>
  
</launch>

