<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
  <!-- open vo? -->
  <arg name="vo" default="false"/>
  <!-- tcp server open cam? -->
  <arg name="cam" default="false"/>
  <!-- imu0_relative? -->
  <arg name="imu0_relative" default="false"/>
  
  <!-- jy901 IMU 从tcp server 获取jy901数据并发布imu主题-->
  <include file="$(find jy901)/launch/jy901.launch">

  </include>
  
  <!-- wheel_odom 从tcp server 获取count数据并发布wheel_odom主题-->
  <include file="$(find wheel_odom)/launch/wheel_odom.launch">

  </include>

  <!-- VO -->
  <group if="$(arg cam)">
    <include file="$(find cameras)/launch/camera_stereo.launch">
      <arg name="vo" value="$(arg vo)"/>
    </include>
  </group>

  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_se"
        clear_params="true">
    <rosparam command="load"
              file="$(find betagun)/params/odom_ekf.yaml"/>
    <rosparam if="$(arg imu0_relative)" param="imu0_relative">true</rosparam>
  </node>

  <!-- 监听计算信息并传递信息给tcp server的node -->
  <node pkg="betagun"
        type="eo_capture.py"
        name="eo_capture"
        args="robot_localization">
  
  </node>

  <node pkg="betagun"
        type="wo_capture.py"
        name="wo_capture">
  
  </node>

  <node if="$(arg vo)"
        pkg="betagun"
        type="vo_capture.py"
        name="vo_capture">
  
  </node>
  
  <node if="$(arg cam)"
        pkg="capture"
        type="capture.py"
        name="capture"
        args="-c">
  
  </node>
  
</launch>

