<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
  <!-- 是否开启camera_stereo.launch? cam 和 cam2 只允许一个 -->
  <arg name="cam" default="false"/>
  <!-- 是否开启camera_stereo2.launch? cam 和 cam2 只允许一个 -->
  <arg name="cam2" default="false"/>
  <!-- 是否运行vo算法? -->
  <arg name="vo" default="false"/>
  <!-- imu0_relative? -->
  <arg name="imu0_relative" default="false"/>
  
  <!-- jy901 IMU 从tcp server 获取jy901数据并发布imu、imu_odom主题-->
  <include file="$(find jy901)/launch/jy901.launch">

  </include>
  
  <!-- wheel_odom 从tcp server 获取count数据并发布wheel_odom主题-->
  <include file="$(find wheel_odom)/launch/wheel_odom.launch">

  </include>

  <!-- CAM and VO -->
  <group if="$(arg cam)">
    <include file="$(find cameras)/launch/camera_stereo.launch">
      <arg name="vo" value="$(arg vo)"/>
    </include>
  </group>

  <!-- CAM2 and VO -->
  <group if="$(arg cam2)">
    <include file="$(find cameras)/launch/camera_stereo2.launch">
      <arg name="vo" value="$(arg vo)"/>
    </include>
  </group>

  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_se"
        clear_params="true">
    <rosparam command="load"
              file="$(find betagun)/params/odom_ekf.yaml"/>
    <rosparam if="$(arg imu0_relative)" param="imu0_relative">true</rosparam>
  </node>

  <!-- 监听计算信息并传递信息给tcp server的node -->
  <node pkg="betagun"
        type="odom_capture.py"
        name="eo_capture"
        args="odometry/filtered">
  
  </node>

  <node pkg="betagun"
        type="odom_capture.py"
        name="wo_capture"
        args="wheel_odom">
  
  </node>

  <node pkg="betagun"
        type="odom_capture.py"
        name="io_capture"
        args="imu_odom">
  
  </node>

  <node if="$(arg cam)"
        pkg="capture"
        type="capture.py"
        name="capture"
        args="-c">
  
  </node>

  <node if="$(arg cam2)"
        pkg="betagun"
        type="cam_capture.py"
        name="cam_capture"
        args="-c">
  
  </node>

  <node if="$(arg vo)"
        pkg="betagun"
        type="odom_capture.py"
        name="vo_capture"
        args="stereo_odometer/odometry">
  
  </node>
  
</launch>

