<div class="select-wrapper">
  <p-dropdown [options]="_odoms"
              [(ngModel)]="_odomSelected"
              (onChange)="onOdomChanged($event)">

  </p-dropdown>
</div>

<div class="wrapper">
  <div class="canvas-wrapper">
    <canvas id="canvas" width="320" height="480">
      您的浏览器不支持画布！
    </canvas>
  </div>
  <div class="trace-info">
    <p>
      x：{{odomData.x.toFixed(2)}}
    </p>
    <p>
      y：{{odomData.y.toFixed(2)}}
    </p>
    <p>
      z：{{_status !== '2D' ? odomData.z.toFixed(2) : 0.00}}
    </p>
    <p>
      俯仰角：{{_status !== '2D' ? odomData.pitch.toFixed(2) : 0.00}}
    </p>
    <p>
      侧滚角：{{_status !== '2D' ? odomData.roll.toFixed(2) : 0.00}}
    </p>
    <p>
      航向角：{{odomData.yaw.toFixed(2)}}
    </p>
    <p>
      vx：{{odomData.vx.toFixed(2)}}
    </p>
    <p>
      vy：{{_status !== '2D' ? odomData.vy.toFixed(2) : 0.00}}
    </p>
    <p>
      vz：{{_status !== '2D' ? odomData.vz.toFixed(2) : 0.00}}
    </p>
  </div>
  <div class="arduino-info">
    <!--<p>-->
      <!--湿度：{{arduinoData.HUMI}}-->
    <!--</p>-->
    <!--<p>-->
      <!--温度: {{arduinoData.TEMP}}-->
    <!--</p>-->
    <p>
      DOWN：{{arduinoData.infraredShow.down}}
    </p>
    <p>
      FRONT：{{arduinoData.infraredShow.front}}
    </p>
  </div>
</div>

