<div class="button-wrapper">

  <button pButton 
          class="export-trace-button ui-button-success"
          type="button" 
          (click)="onExportTraceClick($event)" 
          label="导出轨迹">
  </button>

  <button pButton 
          class="reset-trace-button ui-button-success"
          type="button" 
          (click)="onResetTraceClick($event)" 
          label="重置轨迹">
  </button>
</div>

<div class="wrapper">
  <div class="tool-box">
    <p-selectButton [options]="_odoms" 
                    [(ngModel)]="_odomsSelected"
                    (onChange)="onOdomChanged($event)"
                    multiple="multiple"
                    [style]="{
                      width: '250px'
                    }">
    </p-selectButton>
  </div>
  <div class="canvas-wrapper">
    <canvas id="canvas" width="320" height="480">
      您的浏览器不支持画布！
    </canvas>
  </div>
  <div class="trace-info">
    <p>
      x：{{odomData.x.toFixed(2)}}
    </p>
    <p>
      y：{{odomData.y.toFixed(2)}}
    </p>
    <p *ngIf="_status !== '2D'">
      z：{{odomData.z.toFixed(2)}}
    </p>
    <p *ngIf="_status !== '2D'">
      pitch：{{odomData.pitch.toFixed(2)}}
    </p>
    <p *ngIf="_status !== '2D'">
      roll：{{odomData.roll.toFixed(2)}}
    </p>
    <p>
      yaw：{{odomData.yaw.toFixed(2)}}
    </p>
    <br>

    <p>
      t_x：{{toData.x.toFixed(2)}}
    </p>
    <p>
      t_y：{{toData.y.toFixed(2)}}
    </p>
    <p>
      t_yaw：{{toData.yaw.toFixed(2)}}
    </p>
    <br>

    <p>
      v_x：{{voData.x.toFixed(2)}}
    </p>
    <p>
      v_y：{{voData.y.toFixed(2)}}
    </p>
    <p>
      v_yaw：{{voData.yaw.toFixed(2)}}
    </p>
    <br>
    <!--<p>
      vx：{{odomData.vx.toFixed(2)}}
    </p>
    <p *ngIf="_status !== '2D'">
      vy：{{odomData.vy.toFixed(2)}}
    </p>
    <p *ngIf="_status !== '2D'">
      vz：{{odomData.vz.toFixed(2)}}
    </p>-->
  </div>
  <div class="arduino-info">
    <!--<p>
      湿度：{{arduinoData.HUMI}}
    </p>
    <p>
      温度: {{arduinoData.TEMP}}
    </p>
    <p>
      DOWN：{{arduinoData.infraredShow.down}}
    </p>
    <p>
      FRONT：{{arduinoData.infraredShow.front}}
    </p>-->
  </div>
</div>

