.select-wrapper {
  position: absolute;
  p-selectButton {
    position: absolute;
    top: -50px;
    left: 260px;
  }

  .export-trace-button {
    position: absolute;
    width: 90px;
    top: -50px;
    left: 65px;
  }

  .reset-trace-button {
    position: absolute;
    width: 90px;
    top: -50px;
    left: 165px;
  }
}


.wrapper {
  width: 100%;
  height: 92%;
  position: relative;

  p {
    margin-bottom: 5px;
  }

  .canvas-wrapper {
    width: 100%;
    height: 100%;
    #canvas {
      border: 1px;
      background-color: white;
      width: 100%;
      height: 100%;
    }
  }
  .trace-info {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    padding: 5px;
  }
  .arduino-info {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
    padding: 5px;
  }
}

