<?xml version="1.0" encoding="UTF-8"?>

<launch>
  
  <!-- Transform from base_link frame to jy901_imu frame -->
  <node pkg="tf2_ros" 
        type="static_transform_publisher" 
        name="base_link_to_jy901_imu" 
        args="-0.2 0 0.05 0 0 0 base_link jy901_imu">
  </node>
  
  <!-- Transform from base_footprint frame to base_link frame -->
  <node pkg="tf2_ros" 
        type="static_transform_publisher" 
        name="base_footprint_to_base_link" 
        args="0 0 -0.05 0 0 0 base_footprint base_link">
  </node>

  <node pkg="jy901"
        type="jy901.py" 
        name="jy901" >
    
  </node>
</launch>

