.wrapper {
  width: 100%;
  height: 100%;

  .first-row {
    height: 45%;
  }
  .second-row {
    height: 45%;
  }
}

.col-md-4 {
  height: 100%;
  padding: 10px;
}

.btn-ctl {
  width: 100%;
  height: 100%;

  span {

  }
}
