<?xml version="1.0" encoding="UTF-8"?>

<launch>
  
  <!-- Transform from base_footprint frame to wheel frame -->
  <node pkg="tf2_ros" 
        type="static_transform_publisher" 
        name="base_footprint_to_wheel" 
        args="-0.18 0 0 0 0 0 base_footprint wheel">
  </node>

  <node pkg="wheel_odom"
        type="car_wheel_odom.py" 
        name="car_wheel_odom" >
    
  </node>
</launch>

